API_URL=https://qlx4tvau7g.execute-api.us-east-1.amazonaws.com/prod
API_KEY=j88R5YxG7f3enQYQnJJO86Wi5Pu8jE4u2s9wgYBc
AWS_REGION=us-east-1
CUSTOMER_TABLE_NAME=dedup-dynamodb-CustomerTable
REVIEW_QUEUE_TABLE_NAME=dedup-dynamodb-ReviewQueue
BEDROCK_MODEL_ID=amazon.nova-pro-v1:0
BATCH_STATE_MACHINE_ARN=arn:aws:states:us-east-1:553556337417:stateMachine:dedup-app-dedup-batch
BATCH_INPUT_BUCKET=dedup-s3-dedup-batch-input
BATCH_INPUT_KEY=scenario3-existing-dupes.json
